<div class="page">
    <div class="page-h d-flex">
        <a type="button" routerLink="/home/ships"><img class="back-arrow" src="../../../../assets/arrow_back_white_24dp.svg" alt=""></a>
        <h3>Ship: {{ship.type}}</h3>
    </div>
    <div class="page-t">
        <div class="line-space me-3">
            <div class="mb-3">
                <label for="manufacturer">Manufacturer:</label>
                <h3 id="manufacturer">{{ship.manufacturer}}</h3>
            </div>
            <div class="mb-3">
                <label for="speed">Speed:</label>
                <h3 id="speed">{{ship.speed}}</h3>
            </div>
            <div class="mb-3">
                <label for="loading">Loading speed:</label>
                <h3 id="loading">{{ship.loadingSpeed}}</h3>
            </div>
            <div class="mb-3">
                <label for="space">Max cargo:</label>
                <h3 id="space">{{ship.maxCargo}}</h3>
            </div>
            <div class="mb-3">
                <label for="plating">Plating:</label>
                <h3 id="plating">{{ship.plating}}</h3>
            </div>
            <div class="mb-3">
                <label for="weapon">Weapons:</label>
                <h3 id="weapon">{{ship.weapons}}</h3>
            </div>
        </div>
        <hr class="my-4">
        <div class="line-space">
            <div class="mb-3" *ngIf="ship.flightPlanId == null">
                <label for="weapon">Docked at:</label>
                <h3 id="weapon">{{ship.location}}</h3>
            </div>
            <div class="mb-3" *ngIf="ship.flightPlanId != null && flightPlan.timeRemainingInSeconds > 0">
                <label for="weapon">In flight to:</label>
                <h3 id="weapon">{{flightPlan.destination}}</h3>
            </div>
            <div *ngIf="ship.flightPlanId == null">
                <a type="button" [routerLink]="['/home/ships/travel/',ship.id]" class="btn h-auto btn-primary me-3"><img class="button-icon" src="../../../../assets/flight_takeoff_white_24dp.svg">Create Flight Plan</a>
            </div>
            <div *ngIf="ship.flightPlanId != null && flightPlan.timeRemainingInSeconds > 0">
                <a type="button" class="btn h-auto bg-red me-3">Arriving in: <countdown [config]="{leftTime: flightPlan.timeRemainingInSeconds}" (event)="countdownEvent($event)"></countdown></a>
            </div>
        </div>
        <hr class="my-4">
        <div class="line-space">
            <div class="line-space">
                <div class="mb-3 me-5">
                    <label for="invent">Inventory:</label>
                    <h3 id="invent"></h3>
                </div>
                <div class="mb-3">
                    <label for="inventory">Space:</label>
                    <h3 id="inventory">{{ship.maxCargo - ship.spaceAvailable}}/{{ship.maxCargo}}</h3>
                </div>
            </div>
            <div>
                <a type="button" class="btn h-auto btn-primary me-3"><img class="button-icon" src="../../../../assets/shopping_cart_white_24dp.svg">Buy</a>
                <a type="button" class="btn h-auto btn-primary me-3"><img class="button-icon" src="../../../../assets/multiple_stop_white_24dp.svg">Transfer</a>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Good</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total volume</th>
                    <th scope="col">Value per unit</th>
                    <td scope="col"></td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let good of ship.cargo">
                    <td>{{good.good}}</td>
                    <td>{{good.quantity}}</td>
                    <td>{{good.totalVolume}}</td>
                    <td>{{getGoodMarketValueFromArray(good.good)}}</td>
                    <td><button type="button" class="btn btn-danger btn-sm bg-red" (click)="openSellModal(good)">Sell</button></td>
                </tr>
            </tbody>
        </table>
        <modal #sellModal [buttonTitle]="'Sell'" [title]="'Sell: ' + sellSelectedGood.good" (saveEvent)="sellEventHandler()">
            <div class="row g-3">
                <div class="col-sm-8"><input type="range" name="goodQuantity" class="form-range" id="goodQuantity" [formControl]="sellGoodQuantity" [min]="1" [max]="sellSelectedGood.quantity > ship.loadingSpeed ? ship.loadingSpeed : sellSelectedGood.quantity"></div>
                <div class="col-sm"><button type="button" class="btn btn-primary btn-sm" (click)="maxSellInput()">Max</button></div>
                <div class="col-sm"><p>{{sellGoodQuantity.value}}/{{sellSelectedGood.quantity > ship.loadingSpeed ? ship.loadingSpeed : sellSelectedGood.quantity}}</p></div>
            </div>
            <p>Total sell value: {{sellGoodQuantity.value * getGoodMarketValueFromArray(sellSelectedGood.good)}}</p>
        </modal>
    </div>
</div>
