/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

:root{
    --blue-primary: #0E153A;
    --blue-text: #0d6efd;
    --blue-light: #7ba9ee;
    --red-primary: #F13D3D;
    --black: #212121;
    --green: #156B13;
}

.central-card-sizing{
    max-width: 35rem !important;
    min-width: 1rem !important;
    max-height: 30rem !important;
}

.bg-degrade{
    background: linear-gradient(#253278, var(--blue-primary));
}

.bg-blue{
    background: var(--blue-primary);
}

.bg-red{
    background: var(--red-primary);
    color: white;
}

.bg-red :hover{
    color: white;
}

.red-txt{
    color: var(--red-primary);
}

.blue-txt{
    color: var(--blue-text);
}

.green-txt{
    color: var(--green);
}

.white-txt{
  color: white;
}

.active-route{
    color: var(--black) !important;
    background: white !important;
}

.active-route img{
    filter: brightness(0%) saturate(100%)
}

.router-link-img{
    margin-right: 10px;
}

.border{
    border-radius: 20px;
}

.page{
    background-color: white;
    padding-bottom: 2.5rem;
    height: clamp(20rem, 100%, 40rem);
}

.page-h{
    margin-bottom: 2.5rem;
}

.line-space{
    display: flex;
    justify-content: space-between;
}


.page-t{
    overflow-y: auto;
    height: 75%;
}

.select-line :hover{
    cursor: pointer;
}

.selected-line{
    background-color: var(--blue-text) !important;
    color: white !important;
}

.back-arrow{
    filter: brightness(0%) saturate(100%);
    height: 2.5rem;
    margin-right:  3rem;
}

.button-icon{
    height: 2rem;
    margin-right: 1.5rem;
}
