/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

:root{
    --blue-primary: #0E153A;
    --blue-text: #0b5ed7;
    --red-primary: #F13D3D;
}

.central-card-sizing{
    max-width: 35rem !important;
    min-width: 1rem !important;
    max-height: 30rem !important;
}

.background-degrade{
    background: linear-gradient(#253278, var(--blue-primary));
}

.red-txt{
    color: var(--red-primary);
}

.blue-txt{
    color: var(--blue-text);
}