/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

:root{
    --blue-primary: #0E153A;
    --blue-text: #0b5ed7;
    --red-primary: #F13D3D;
    --black: #212121;
    --green: #156B13;
}

.central-card-sizing{
    max-width: 35rem !important;
    min-width: 1rem !important;
    max-height: 30rem !important;
}

.bg-degrade{
    background: linear-gradient(#253278, var(--blue-primary));
}

.bg-blue{
    background: var(--blue-primary);
}

.red-txt{
    color: var(--red-primary);
}

.blue-txt{
    color: var(--blue-text);
}

.green-txt{
    color: var(--green);
}

.active-route{ 
    color: var(--black) !important;
    background: white !important;
}

.active-route img{
    filter: brightness(0%) saturate(100%)
}

.router-link-img{
    margin-right: 10px;
}