<div class="page">
    <div class="page-h line-space">
        <h3>My Ships</h3>
        <a type="button" class="btn btn-lg btn-primary">Buy</a>
    </div>
    
    <div class="page-t">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Type</th>
                    <th scope="col">Class</th>
                    <th scope="col">Max Cargo</th>
                    <th scope="col">Space Available</th>
                    <th scope="col">Location</th>
                </tr>
            </thead>
            <tbody>
                <tr class="select-line" (click)="openDetails(ship.id)" *ngFor="let ship of ships">
                    <td>{{ship.type}}</td>
                    <td>{{ship.class}}</td>
                    <td>{{ship.maxCargo}}</td>
                    <td>{{ship.spaceAvailable}}</td>
                    <td>{{ship.location}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
